// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.email-error{
  background: url(error_email.png) no-repeat;
  background-size: 20px 20px;
  float: right;
  margin-top: -27px;
  margin-right: -30px;
  height: 31px;
  width: 30px;
}

.email-success{
  background: url(email.png) no-repeat;
  background-size: 20px 20px;
  float: right;
  margin-top: -27px;
  margin-right: -30px;
  height: 31px;
  width: 30px;
}

.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}

.table-user-information > tbody > tr > td {
  border-top: 0;
}
