<% unless flash[:errors].nil? %>
  <div class="alert-danger">
    <% flash[:errors].each do |error_message| %>
      <div class="error">
        <%= error_message %>
        <br/>
      </div>
    <% end %>
  </div>
<% end %>